<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/jquery-3.6.0.min.js"></script>
    <title>Operation Menu</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column; /* Stack items vertically */
            height: 100vh; /* Full viewport height */
        }
        .header {
            background-color: #f0f0f0;
            padding: 20px;
            height: 30vh;
            text-align: center;            
        }
        .row-conten {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }
        .item {
            flex-basis: calc(32% - 5px); /* Three items per row */
            background-color: #f0f0f0;
            padding: 5px;
            height: 4vh;
            text-align: left;
            /* border: 1px solid #ccc;*/
        }
        .item2 {
            flex-basis: calc(99%); /* one items per row */
            background-color: #f0f0f0;
            padding: 5px;
            height: 4vh;
            text-align: left;
            /* border: 1px solid #ccc;*/
        }
        .item3 {
            display: inline-flex;
            padding-right: 20px;
        }
        .item4 {
            display: inline-flex;
            padding-right: 15px;
        }
        .content {
            display: flex; /* Create a horizontal layout for children */
            flex-grow: 1; /* Take up remaining space */
        }               
        
        .left {
            flex: 1; /* if 1, 1: Equal width for left and right areas */
            background-color: #2a9d8f;
            padding: 20px;
        }
        button {
            background-color: #2a9d8f;
            padding: 5px 10px;
            font-size: 18px;
            color: black;
            border: none;
            cursor: pointer;
        }
        .right {
            flex: 3; /* if 1, 1: Equal width for left and right areas */
            background-color: #e76f51;
            padding: 20px;
        }
        .form-container {
            display: none; /* Hide all forms by default */
            margin-top: 20px;
        }
        .hidden {
            padding-top: 5px;
            margin-top: 2px;
            margin-left: 30px;
            font-size: 15px;
        }       
    </style>
</head>

<body>
    <div class="header">
        <div class="row-conten">
            <div class="item" id="kernel_ver">Kernel_ver: </div>
            <div class="item" id="IPADDR">IP: </div>
            <div class="item" id="CURRENT_DT">Current date/time: </div>
            <div class="item2" id="HOME_URL">HOME URL: </div>      
            <div class="item" id="TITLE">Title: </div>
            <div class="item" id="ASSET">Asset: </div>
            <div class="item" id="ACCOUNT">Account: </div>            
            <div class="item2" id="TOKEN">Token state: </div>
            <div class="item2" id="REMARK">Note: </div>
        </div>
    </div>

    <div class="content">
        <div class="left">
            <ul id="menuList" role="menu" aria-labelledby="menuBtn">
                <li role="none"><button  onclick="showForm('form1')">Network setting</button></li>            
                <li role="none"><button  onclick="showForm('form2')">Basic data setting</button></li>
                <li role="none"><button  onclick="showForm('form3')">Register</button></li>
                <li role="none"><button  onclick="showForm('form4')">Bill acceptor test</button></li>
                <li role="none"><button  onclick="showForm('form5')">Receipt printer test</button></li>
                <li role="none"><button  onclick="showForm('form6')">Reset</button></li>
            </ul>
        </div>
        <div class="right" id="right">
            <section id="display">
                <div id="contentSwitch">
                    <!-- Forms -->
                    <div id="form1" class="form-container">
                        <h2>Network setting</h2>
                        <form>                        
                        <input type="checkbox" id="BOOTPROT" name="BOOTPROT">
                        <label for="BOOTPROT">Dynamic/DHCP</label><br><br>
                        <input type="checkbox" id="static" name="static">
                        <label for="static">Static</label><br>
                            <div id="inputContainer" class="hidden">
                                <label for="IPADDR">IP address:</label>
                                <input type="text" id="IPADDR" name="IPADDR" placeholder="Enter IP here">
                                <label for="NETMASK">Netmask:</label>
                                <input type="text" id="NETMASK" name="NETMASK" placeholder="Enter Netmask here"><br>
                                <label for="GATEWAY">Gateway:</label>
                                <input type="text" id="GATEWAY" name="GATEWAY" placeholder="Enter Gateway here"><br><br>
                            </div>
                        <input type="submit" value="Submit Network setting">
                        </form>
                    </div>
                    
                    <div id="form2" class="form-container">
                        <h2>Basic data setting</h2>
                        <form>
                        <p>The title or shop name which will be printed on receipt.</p>
                        <label for="TITLE">Title/Shop name: </label>
                        <input type="text" id="TITLE" name="TITLE" placeholder="Enter title/shop name here"><br>
                        <p>The custom remark/reminder showed on the display when entering operator menu.</p>
                        <label for="REMARK">Remark: </label>
                        <input type="text" id="REMARK" name="REMARK" placeholder="Enter remark here"><br><br>
                        <label for="TIME_ZONE">Time Zone: </label>
                        <select name="TIME_ZONE" id="TIME_ZONE">
                            <!-- TIME_ZONE_LIST -->
                            <option value=0>UTC</option>
                            <option value=1>UTC+6</option>
                            <option value=2>UTC+5</option>
                            <option value=3>UTC+7</option>
                            <option value=4>UTC+8</option>
                        </select><br>
                        <label for="TIME_FORMAT">Time format: </label>
                        <select name="TIME_FORMAT" id="TIME_FORMAT">
                            <!-- TIME_FORMAT_LIST -->
                            <option value=0>d/M/YYYY (4/23/2025)</option>
                            <option value=1>M/d/YYYY (4/23/2025)</option>
                            <option value=2>MMM d, YYYY (Apr 23, 2025)</option>              
                        </select><br><br>
                        <label for="CURRENCY_SYMBOL">Currency symbol: </label>
                        <select name="CURRENCY_SYMBOL" id="CURRENCY_SYMBOL">
                            <!-- CURRENCY_SYMBOL_LIST -->
                            <option value=0>$$</option>
                            <option value=1>£</option>
                            <option value=2>¥</option>
                            <option value=3>€</option>
                            <option value=4>₣</option>
                        </select>
                        <label for="CURRENCY_SYMBOL_PRINT_SIDE">, printed on the </label>
                        <label><input type="radio" name="CURRENCY_SYMBOL_PRINT_SIDE" value="right">right</label>                          
                        <label><input type="radio" name="CURRENCY_SYMBOL_PRINT_SIDE" value="left" checked="checked">left</label>
                        <label for="CURRENCY_SYMBOL"> side of the money</label><br>
                        <label for="THOUSAND_SEPARATOR">Thousand separator: </label>
                        <select name="THOUSAND_SEPARATOR" id="THOUSAND_SEPARATOR">
                            <!-- THOUSAND_SEPARATOR_LIST -->
                            <option value=0>,</option>
                            <option value=1>.</option>
                            <option value=2>None</option>                               
                        </select><br><br>
                        <p>The URL of home page of game portal.</p>
                        <label for="HOME_URL">Home URL: </label>
                        <select name="HOME_URL" id="HOME_URL">
                            <!-- HOME_URL_LIST -->
                            <option value="HOME_URL1">https://demo.n1s168.com/#/</option>
                            <option value="HOME_URL2">https://www.n1s168.com/#/</option>
                        </select><br>
                        <label for="apientry">API Entry: </label>
                        <input type="text" id="apientry" name="apientry" placeholder="Enter API entry here"><br><br>
                        <p>The unique ID for this slot machine (optional)</p>
                        <label for="ASSET">Asset: </label>
                        <input type="text" id="ASSET" name="ASSET" placeholder="Enter Asset here"><br><br>
                        <input type="submit" value="Submit Basic Data setting">
                        </form>
                    </div>
                    
                    <div id="form3" class="form-container">
                        <h2>Register</h2>
                        <form>
                        <label for="ACCOUNT">Account: </label>
                        <input type="text" id="ACCOUNT" name="ACCOUNT"><br>                        
                        <label for="pwd">Password: </label>
                        <input type="password" id="pwd" name="pwd"><br>
                        <button  onclick="token_action(0)">[ Get token ]</button> 
                        <button  onclick="token_action(1)">[ Drop token ]</button><br><br>       
                        <label for="TOKEN">Token: </label>
                        <input type="text" id="TOKEN" name="TOKEN"><br><br>
                        <button  onclick="test_login()">[ Login test ]</button>
                        </form>
                    </div>

                    <div id="form4" class="form-container">
                        <h2>Bill acceptor test</h2>
                        <form>
                            <div class="item3" id="bamodel">Model name: </div>
                            <div class="item3" id="bafirmware">Firmware: </div>
                            <div class="item3" id="bacrc">CRC: </div>
                            <div id="currency">Currency: </div>
                            <div id="bastatus">Status: </div>
                            <div id="last_input">Last input: </div><br>
                            
                            <button  onclick="test_bill(0)">[ Return bill ]</button> 
                            <button  onclick="test_bill(1)">[ Stack bill ]</button><br><br>
                            <p>Note! All input here will NOT be counted into accounting.</p>
                        </form>
                    </div>
                    
                    <div id="form5" class="form-container">
                        <h2>Receipt printer test</h2>
                        <form>
                            <div class="item4" id="PRINTER_NAME">Model name: </div>
                            <div class="item4" id="rpdriver">Driver: </div>
                            <div class="item4" id="rpfirmware">Firmware: </div>
                            <div class="item4" id="rpcrc">CRC: </div>
                            <div id="rpstatus">Status: </div>

                            <button  onclick="test_receipt()">[ Print test receipt ]</button><br><br>
                        </form>
                    </div>
                    <div id="form6" class="form-container">
                        <h2>Reset</h2>
                        <form>
                        <label for="phone">Phone:</label>
                        <input type="tel" id="phone" name="phone"><br><br>
                        <input type="submit" value="Submit Form 6">
                        </form>
                </div>
            </section>
        </div>
    </div>
    <script>
        $(function() {
            // const kernel_ver = document.getElementById('kernel_ver'); 
            // BASIC           
            const title = document.getElementById('TITLE');
            const remark = document.getElementById('REMARK');
            const timezone_list = document.getElementById('TIME_ZONE_LIST'); 
            const timezone = document.getElementById('TIME_ZONE');
            const timeformat_list = document.getElementById('TIME_FORMAT_LIST'); 
            const timeformat = document.getElementById('TIME_FORMAT');
            const currency_symbole_list = document.getElementById('CURRENCY_SYMBOL_LIST'); 
            const currency_symbole = document.getElementById('CURRENCY_SYMBOL');  
            const currency_symbole_print_side = document.getElementById('CURRENCY_SYMBOL_PRINT_SIDE');
            const thousand_separator_list = document.getElementById('THOUSAND_SEPARATOR_LIST');
            const thousand_separator = document.getElementById('THOUSAND_SEPARATOR');            
            const home_url = document.getElementById('HOME_URL');
            const home_url1 = document.getElementById('HOME_URL1');
            const home_url2 = document.getElementById('HOME_URL2');
            const asset = document.getElementById('ASSET');

            // NETWORK
            const bootprot = document.getElementById('BOOTPROT')
            const ipaddr = document.getElementById('IPADDR'); 
            const netmask = document.getElementById('NETMASK'); 
            const gateway = document.getElementById('GATEWAY'); 

            // REGISTER
            const account = document.getElementById('ACCOUNT');
            const token = document.getElementById('TOKEN');
            const token_last_ts = document.getElementById('TOKEN_LAST_TS');

            // RECEIPT PRINTER
            const printer_name = document.getElementById('PRINTER_NAME');

            const current_dt = document.getElementById('current_dt'); 
            const now = new Date();
            const options = { year: 'numeric', month: 'numeric', day: '2-digit' };
            const formattedDate = now.toLocaleDateString('fr-FR', options);
            const formattedTime = now.toLocaleTimeString('fr-FR', { hour12: false });

                $.ajax({
                    url: '/data/message',
                    data: {},
                    type: 'GET',
                    success: function(data) {                         
                        //kernel_ver.textContent =  "Kernel ver: " + data.appInfo.id;
                        kernel_ver.textContent +=  "NO INFO";
                        ipaddr.textContent += config[IPADDR];            
                        current_dt.textContent = "Current date/time: " + formattedDate + " " + formattedTime;              
                        home_url.textContent += data.config[HOME_URL];
                        title.textContent += data[TITLE];
                        asset.textContent += data.appInfo.ASSET;
                        account.textContent += data.appInfo.ACCOUNT;
                        token.textContent += data.appInfo.TOKEN;
                        remark.textContent += data.appInfo.REMARK;

                    },
                    error: function(xhr) {
                        alert("Ajax request 發生錯誤")
                    }
                });            
            });            
    </script>
    <script>
        function showForm(formId) {
        // Hide all forms
        const forms = document.querySelectorAll('.form-container');
        forms.forEach(form => form.style.display = 'none');

        // Show the selected form
        const selectedForm = document.getElementById(formId);
        if (selectedForm) {
            selectedForm.style.display = 'block';
            }
        }
    </script>    
</body>
</html>